extends layout

block content
    h1 #{title}: #{category.name}


    if category_bikes.length

        p #[strong Delete the following category before attempting to delete this category.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Categories

            dl
            each bike in category_bikes
                dt
                    a(href=bike.url) #{bike.title}

    else
        p Do you really want to delete this category?

        form(method='POST' action='')
            div.form-group
                input#categoryid.form-control(type='hidden' name='categoryid' required='true', value=category._id )

            button.btn.btn-primary(type='submit') Delete